.columnContainer {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  background-color: #f8f8ff;
  margin-right: 0px;
  padding-right: 20px;
}

#colHeader {
  text-align: center;
  margin-bottom: 40px;
}

#individualCol {
  height: 100vh;
}
