.tableContainer {
  width: 100vw;
  height: auto;
  margin-top: 0px;
  background-color: #f8f8ff;
  padding-right: 0px;
  padding-right: 34px;
  overflow: hidden;
}

#detailTable {
  background-color: #f8f8ff;
}

#detailControlCol {
  padding-left: 46px;
}

.ht_clone_top {
  display: none !important;
}
